body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.game {
  width: 100%;
  height: 50vh;
  margin: auto;
  position: relative;
}

#jebena {
  width: 50px;
  height: 50px;
  background-image: url(/jebena.png);
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 130px;
  }
  50% {
    top: 80px;
  }
  80% {
    top: 130px;
  }
  100% {
    top: 150px;
  }
}

#cini {
  width: 20px;
  height: 40px;
  position: relative;
  top: 110px;
  left: 580px;
  background-image: url("/cini.png");
  background-size: 20px 40px;
  animation: block 1s infinite linear;
}

@keyframes block {
  0% {
    left: 580px;
  }
  100% {
    left: -5px;
  }
}

.start-screen,
.game-over {
  text-align: center;
  font-size: 24px;
  color:aliceblue;
  margin-top: 260px;
}

.start-button,
.restart-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid white; /* Add a white border to make the button more visible */
  background-color: transparent; /* Ensure the button background doesn't clash */
  color: white; /* Ensure the text color is visible */
  transition: background-color 0.3s, color 0.3s; 
}

.score {
  position: absolute;
  top: 10px;
  left: 270px;
  font-size: 24px;
}

/* Responsive styling */
@media (max-width: 200px) {
  .game {
    width: 100%;
    height: 50vw;
  }

  #jebena {
    width: 10vw;
    height: 10vw;
    background-size: cover;
    top: 30vw;
  }

  #cini {
    width: 4vw;
    height: 8vw;
    top: 22vw;
    left: 96vw;
    background-size: cover;
  }

  @keyframes jump {
    0% {
      top: 30vw;
    }
    30% {
      top: 26vw;
    }
    50% {
      top: 16vw;
    }
    80% {
      top: 26vw;
    }
    100% {
      top: 30vw;
    }
  }

  @keyframes block {
    0% {
      left: 96vw;
    }
    100% {
      left: -1vw;
    }
  }

  .start-screen,
  .game-over {
    font-size: 18px;
    margin-top: 20px;
  }

  .start-button,
  .restart-button {
    padding: 8px 16px;
    font-size: 16px;
  }

  .score {
    font-size: 18px;
  }
}
